.assessment-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.assessment-card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assessment-left h3 {
    margin-bottom: 5px;
}

.assessment-left p {
    font-size: 14px;
    color: #555;
}

.due {
    margin-top: 5px;
    color: #888;
}

.status {
    margin-top: 10px;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: bold;
}

.status.available {
    background: #0055ff;
    color: white;
}

.status.locked {
    background: #ff5252;
    color: white;
}

.status.completed {
    background: #2ecc71;
    color: white;
}

/* BUTTON NON ACTIVE */
.btn-disabled {
    padding: 10px 20px;
    background: #ccc;
    color: white;
    border: none;
    border-radius: 8px;
}
