
.cert-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cert-card {
    background: white;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    align-items: center;
}

.cert-thumb {
    width: 200px;
    height: 130px;
    border-radius: 10px;
    object-fit: cover;
}

.cert-info h3 {
    margin-bottom: 5px;
}

.cert-info p {
    font-size: 14px;
    color: #666;
}

.cert-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn-outline {
    padding: 10px 20px;
    background: white;
    color: #6200ff;
    border: 2px solid #6f00ff;
    border-radius: 8px;
    cursor: pointer;
}
