/* FILTER SECTION */
.filter-section {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.filter {
    padding: 10px;
    background: #e4e9ef;
    border: none;
    border-radius: 8px;
    width: 180px;
    cursor: pointer;
}

/* JOB CARD */
.job-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.job-card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company {
    color: #007bff;
    margin-bottom: 5px;
}

.tags {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.tag {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 7px;
    font-weight: bold;
    color: white;
}

.tag.remote { background: #0055ff; }
.tag.internship { background: #2ecc71; }
.tag.fulltime { background: #ff9800; }
